<section class="total-block" data-block-type="total">
  <h2 class="summary-title">Resumen general</h2>
  <table class="summary-table">
    <tbody>
      <tr><td>Subtotal partidas</td><td class="text-right">{{subtotalPartidasFormatted}}</td></tr>
      <tr><td>Total indirectos</td><td class="text-right">{{totalIndirectosFormatted}}</td></tr>
      <tr><td>Base ITBIS</td><td class="text-right">{{baseItbisFormatted}}</td></tr>
      <tr><td>ITBIS {{itbisPercent}}%</td><td class="text-right">{{itbisFormatted}}</td></tr>
      <tr class="grand-total"><td>Total general</td><td class="text-right">{{totalGeneralFormatted}}</td></tr>
    </tbody>
  </table>
</section>
